#Arquivo de configuração para ignorar arquivos do repositório e subir online

## Ignorar arquivos de configuração do sistema
*.vscode
*.idea
*.sublime-project
*.sublime-workspace
*.gitignore
*.gitattributes
*.iml
*.classpath
*.project
*.settings
*~*
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.tar.gz
*.tar.bz2
*.cmd
*.bat
*.exe
*.dll
*.so
*.dylib
